@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main: #88aaee;
        --warn: #ffdc58;
        --success: #a3e636;
        --error: #ff6b6b;
        --overlay: rgba(0, 0, 0, 0.8);

        --bg: #dfe5f2;
        --bw: #fff;
        --blank: #000;
        --border: #000;
        --text: #000;
        --mtext: #000;
        --ring: #000;
        --ring-offset: #fff;

        --border-radius: 5px;
        --box-shadow-x: 3px;
        --box-shadow-y: 3px;
        --reverse-box-shadow-x: -3px;
        --reverse-box-shadow-y: -3px;
        --base-font-weight: 500;
        --heading-font-weight: 700;

        --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
    }

    .dark:root {
        --bg: #272933;
        --bw: #212121;
        --blank: #fff;
        --border: #000;
        --text: #e6e6e6;
        --mtext: #000;
        --ring: #fff;
        --ring-offset: #000;

        --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
    }
}
